services:

  notfound404-endpoint:
    container_name: notfound404-endpoint
    image: caddy:2-alpine
    read_only: true
    ports:
      - 80:80
    volumes:
      - ./endpoint/Caddyfile:/etc/caddy/Caddyfile:ro
    restart: unless-stopped



  # From Docker Hub
  notfound404-vite:
    container_name: notfound404-vite
    image: vuknf/notfound404-vite:latest
    user: 1000:1000
    read_only: true
    restart: unless-stopped



  # # For local development
  # notfound404-vite:
  #   container_name: notfound404-vite
  #   image: notfound404-vite
  #   build:
  #     context: ./vite
  #     dockerfile: Dockerfile                                  # Prod
  #     # dockerfile: Dockerfile.dev                              # Dev
  #   user: 1000:1000
  #   read_only: true                                           # Prod
  #   # volumes:                                                  # Dev
  #   #   - ./vite/app:/app                                       # Dev
  #   restart: unless-stopped


