services:

  notfound404-endpoint:
    container_name: notfound404-endpoint
    image: caddy:2-alpine
    read_only: true
    ports:
      - 80:80
    volumes:
      - ./endpoint/Caddyfile:/etc/caddy/Caddyfile:ro
    restart: unless-stopped


  notfound404-nextjs:
    container_name: notfound404-nextjs
    image: vuknf/notfound404-nextjs:20251106
    user: 1000:1000
    read_only: true
    restart: unless-stopped
